.chats {
    
        background: rgb(243, 153, 118);
    grid-column-start: 1;
    text-align: center;
    
}

.chats-conversation {
    
    display: grid;
}

.chat-sender-username {
    font-size: 20px;
    font-weight: 700;
    place-self: center;
    display: grid;
    /* border-radius: 30px; */
    /* border: solid white; */
    color: white;
    grid-gap: 5px;
    padding: 20px;
    border-bottom: 1px solid;
    /* width: 100%;*/

}


.chat-sender-username:hover {
    background-color: cornsilk;
    border: solid cornsilk;
    color: #17479f;
}
.chat-sender-username:focus {
    background-color: cornsilk;
    border: solid cornsilk;
    color: #17479f;
}

.chat-sender-username > h2 {
    font-size: 16px;
}






.msg-list-all {
    display: flex;
    flex-direction: column;
    /* grid-gap: 30px; */
    /* padding: 5% 10%; */
    float: left;
    width: 80%;
    overflow-y: auto;
    height: 380px;
    justify-self: center;
    /* grid-template-rows: repeat(7, 41px); */
}

.chats-conversation::-webkit-scrollbar {
    width: 1em;
}

.msg-list-all::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.msg-list {
    display: grid;
    /* grid-template-rows: repeat(2, 15px); */
    grid-gap: 10px;
    padding: 10px 0;
}

.msg-list > p {
    justify-self: start;
    align-self: center;
    background: white;
    padding: 10px 20px;
    border-radius: 28px;
    line-height: 20px;
}


.current-user-msg-list {
    display: grid;
    /* grid-template-rows: repeat(2, 15px); */
    grid-gap: 10px;
    padding: 10px 17px;
}

.current-user-msg-list > div {
    justify-self: end;
    font-weight: 700;
    font-size: 16px;
    color: #17479f;
}

.current-user-msg-list > p {
    justify-self: end;
    align-self: center;
    background: rgba(243, 153, 118, 0.34);
    padding: 10px 20px;
    border-radius: 28px;
    line-height: 20px;
}

.chat-all {
    display: grid;
    /* height: 100vh; */
}

.chat-index-all {
    display: grid;
    font-family: 'Open Sans', sans-serif;
    padding: 3% 10%;
    
    grid-template-rows: 8% auto;
    grid-gap: 10px;
    justify-self: center;
    
}

.chat-index-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: cornsilk;
    grid-template-rows: 66px auto;
    width: 800px;
}

.chat-sender-name {
    font-weight: 700;
    font-size: 14px;
    color: #17479f;

}

h1 {
    font-size: 26px;
    padding: 20px;
    color: #17479f;
    align-self: center;
}

.send-button {
    padding: 10px 20px;
    
    height: 42px;
    background-color: #17479f;
    border: 1px solid #17479f;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    justify-self: end;
    outline: none;
    align-self: center;
}

.delete-button {
   font-size: 14px;
    cursor: pointer;
    justify-self: end;
    outline: none;
    background: transparent;
    border: none;
    font-weight: 700;
    align-self: start;
    padding: 0;
}

.msg-wrapper {
    display: grid;
    
    
    grid-template-rows: 2fr 1fr;
}

.msg-input-box {
    display: grid;
    width: 80%;
    justify-self: center;
    
    padding: 10px 0 0;
}

.msg-input {
    
    border-radius: 5px;
    padding: 15px;
    outline: none;
    font-size: 14px;
    border-style: hidden;
    
    
}


.testit {
    display: grid;
}

.start-chat-container {
  background: rgb(243, 153, 118);
    display: grid;
    grid-template-columns: repeat(2, auto);
    
    justify-self: center;
    grid-column-start: 1;
    z-index: 10;
    width: 100%;
}

.start-chat-container p {
    font-size: 20px;
    color: white;
    font-weight: 700;
    align-self: center;
}



.start-chat {
    /* background-image: url("./add.png"); */
    /* background-repeat: no-repeat; */
    
    /* height: 37px; */
    /* background-size: contain; */
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    /* background-position: center; */
}

.start-chat > img {
    height: 37px;
    padding: 13px 0;
}


.chat-form {
    display: grid;
    padding: 0 40px;
    grid-gap: 30px;
    align-self: center;
}

.form-message {
    resize: none;
    border: none;
    border-radius: 3px;
    padding: 20px;
    font-size: 14px;
    outline: none;
}

.chat-form > button {
    padding: 10px 20px;
    height: 42px;
    background-color: #17479f;
    border: 1px solid #17479f;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    justify-self: end;
    align-self: center;
    outline: none;
}

select {
        border: none;
    background: white;
    outline: none;
    color: rgb(84, 84, 84);
    font-size: 14px;
    height: 35px;
    border-radius: 3px;
}

select > option {
    border: none;
    background: white;
    color: rgb(84, 84, 84);
    font-size: 14px;
}

.participants {
        height: 35px;
    padding: 0 10px;
    outline: none;
    font-size: 14px;
    border-radius: 0;
    border-style: hidden;
    background: none;
    border-bottom: 1.5px solid gray;
    align-self: center;
}