.people {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.footer {
    /* border: 1px solid gray; */
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 153, 118);
}

.person {
    
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.person img {
    max-width: 30px;
    padding: 20px;
    /* max-height: 50px; */
}

.name {
    font-size: 14px;
    color: black;
}