.main-everything {
    display: grid;
    grid-gap: 50px;
    height: 100vh;
    grid-template-rows: 80px auto;
    font-family: 'Open Sans', sans-serif;
}

.main-all-2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 20px 10%;
}




.main-all {
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-family: 'Open Sans', sans-serif;
    padding: 20px 10%;
}

.main-header-1 {
    display: grid;
    grid-template-columns: 50px auto;
    grid-gap: 15px;  
}
.main-header-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-self: end;  
}

.main-header-3 {
    display: grid;
    
    place-self: end;  
}

.logo {
    height: 50px;
}



.title {
    text-decoration: none;
    font-size: 30px;
    color: #17479f;
    align-self: center;
    font-family: 'Righteous', cursive;
}

.get-started {
    
    

    text-decoration: none;
    width: 127px;
    height: 40px;
    background-color: #17479f;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}


.log-in {
    color: #17479f;
    text-decoration: none;
    font-size: 18px;
    place-self: center;
}

.background-container {
    position: relative;
    text-align: center;
    color: white;
    display: grid;
}

/* .background-container img {
    grid-row-start: 1;
    grid-column-start: 1;
} */

.background {
    width: 100%;
}

/* .slogan-all {
    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-row-start: 1;
    grid-column-start: 1;
    padding: 20px 10%;
    height: 100vh;
    
} */

.slogan {
    width: 600px;
    height: 500px;
    font-size: 5vw;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #17479f;
    top: 33%;
    left: 29%;
    text-align: left;
    line-height: 122%;
    text-shadow: 10px 2px rgb(255, 243, 194);

  
}

.sub-slogan {
    transform: translate(-50%, -50%);
    color: #17479f;
    position: absolute;
    top:58%;
    left: 28%;
    font-size: 2vw;
    text-align: left;
    width: 550px;
    height: 500px;
    line-height: 142%;
}