.index-all {
    display: grid;
    /* height: 100vh; */
    grid-template-rows: 10%;
    font-family: 'Open Sans', sans-serif;
    padding: 3% 0;
    grid-template-rows: repeat(2, auto);
}

.user-profile {
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 20px;
    padding: 50px;
    border-radius: 5px;
    background: cornsilk;
}

.user-profile > p {
    justify-self: end;
    align-self: center;
    font-size: 12px;
    background: #ffbd59;
    border-radius: 5px;
    padding: 6px;
    color: white;
}

#user-profile-mentor {
    background: #17479f;
}



.user-profile-connected {
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 20px;
    padding: 50px;
    border-radius: 5px;
    background: #f39976;
}

.user-profile-connected > p {
    justify-self: end;
    align-self: center;
    font-size: 12px;
    background: #ffbd59;
    border-radius: 5px;
    padding: 6px;
    color: white;
}


.wrapper {
    display: grid; 
    padding: 0 10%;
}

.noconnection-msg {
        padding: 20px;
    line-height: 29px;
    font-size: 20px;
    text-align: center;
    border: 3px solid darksalmon;
    border-radius: 20px;
    
    color: darksalmon;
}


.user {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.each-user {
    

    align-self: center;
}




.user-profile:hover {
    margin: 20px;
    
    padding: 50px;
    border-radius: 5px;
    background: #17479f;
    color: white;

    /* background-image: url(./idea2.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 80% 45%; */
}

.each-user-connected {
   align-self: center;
}

.user-profile-connected:hover {
    margin: 20px;
    
    padding: 50px;
    border-radius: 5px;
    background: #2586f6;
    color: white;
    /* background-image: url(./idea.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 80% 45%; */
}

