.login-all {
  display: grid;
  grid-template-rows: 70px auto;
  grid-gap: 15px; 
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.login-form {
    place-self: center;
    width: 500px;
    height: 500px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    display: grid;

    
 
}


.login-title {
  color: #17479f;
  font-weight: 700;
  font-size: 25px;
  place-self: center;
 
}
input {
  height: 35px;
  padding: 0 10px;
  outline: none;
  font-size: 14px;
  border-radius: 3px;
  border-style: hidden;
 
}

input:focus {
  
  outline: none;
  
}
.login-form-wapper {
 
  width: 60%;
    grid-gap: 40px;
    place-self: center;
    display: grid;
    grid-template-rows: repeat(4, auto);
}

.login-form-wapper > input {
  border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.login-submit {
     
    width: 100%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    justify-self: center;
    height: 40px;
    
}

.login-submit:focus {
  outline: none;
}

.log-in-buttons {
  display: grid;
  grid-gap: 10px;
}

.log-in-buttons-middle {
  display: grid;
}


.or {
        margin-top: -22px;
    width: 32px;
    background-color: white;
    justify-self: center;
    text-align: center;
    color: #ccc;
    font-size: 14px;
}


.line {
    
    border-color: #ccc;
}

.login-errors {
  list-style: none;
  color: red;
}