.nav-all {
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-family: 'Open Sans', sans-serif;
    padding: 15px 10%;
    background-color: blanchedalmond;
}

.nav-img {
    height: 40px;
    place-self: center;
    cursor: pointer;
}

.nav-link {
    place-self: center;
}


.nav-header-right {
    
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, auto);
    justify-self: end;
}