.profile-all {
  display: grid;
  
  font-family: 'Open Sans', sans-serif;
}


.profile-body {
  padding: 5% 10%;
  display: grid;
  justify-self: center;
  width: 70%;
  grid-template-rows: repeat(4, auto);
  grid-gap: 40px;
  
}

.edit-button {
  justify-self: end;
    align-self: center;
}

.edit-button a {
 text-decoration: none;
  
  justify-content: center;
  padding: 10px 20px;
  width: 30%;
  height: 25px;
  background-color: #17479F;
  border: 1px solid #17479F;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  justify-self: end;
  outline: none;
  margin: 5px 0px 25px;
  align-items: center;
}


.main-content {
  display: grid;
  
  padding: 0 20px;
  
  
}

.profile-info {
  display: grid;
  grid-gap: 7px;
}

.profile-name {
  font-size: 70px;
  align-self: center;
}




.user-info-detail {
    display: grid;
    grid-template-columns: 25px auto;
    font-size: 20px;
    grid-gap: 12px;

}

.user-info-detail > img {
  height: 20px;
  
}



.Connect {
    padding: 10px 20px;
    align-self: center;
    height: 42px;
    background-color: #17479f;
    border: 1px solid #17479f;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    justify-self: end;
    outline: none;
}

.Disconnect {
    padding: 10px 20px;
    align-self: center;
    height: 42px;
    background-color: gray;
    border: 1px solid gray;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    justify-self: end;
    outline: none;
    grid-column-start: 2;
}

.Pending {
    padding: 10px 20px;
    align-self: center;
    height: 42px;
    background-color: transparent;
    border: 3px solid lightseagreen;
    color: lightseagreen;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    
    justify-self: end;
    outline: none;
}

.Connected {
    padding: 10px 20px;
    align-self: center;
    height: 42px;
    background-color: transparent;
    border: 3px solid rgb(243, 153, 118);
    color: rgb(243, 153, 118);
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    justify-self: end;
    outline: none;
}

.Accept {
    padding: 10px 20px;
    align-self: center;
    height: 60px;
    background-color: #2586f6;
    border: 1px solid #2586f6;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    justify-self: end;
    outline: none;
}

.main-content-right {
  display: grid;

}

.about-div {
  border-radius: 3px;
  border: 2px solid rgb(255, 212, 176);
  
}

.about-1 {
  display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: cornsilk;
    padding: 10px 20px;
}






.skills-div {
  border-radius: 3px;
  border: 2px solid rgb(255, 212, 176);
  
}



.interests-div {
  border-radius: 3px;
  border: 2px solid rgb(255, 212, 176);
  /* padding: 25px; */
}

.div-content {
  padding: 15px 20px;
  display: grid;
}

.pending-content {
      padding: 15px 20px;
    display: grid;
    grid-gap: 15px;
}

h2 {
  font-size: 20px;
  align-self: center;
}

.profile-info-1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-bottom: 25px;
}

.pending-button {
  display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.pending-button > div {
      place-self: center;
    width: 100%;
    /* width: 309px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.accept-button {
  padding: 10px 0;
  background-color: transparent;
  border: 1px solid #17479f;
  color: #17479f;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border-right: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.reject-button {
    padding: 10px 0;
    background-color: transparent;
    border: 1px solid #17479f;
    color: #17479f;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}


.reject-button:hover {
  background-color: #17479F;
  color: white;
}

.accept-button:hover {
  background-color: #17479F;
  color: white;
}

.pending-button > p {
   place-self: center;
    
    padding: 10px 0px;
    background-color: #17479f;
    border: 1px solid #17479f;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    
    width: 90%;
    text-align: center;
    border-radius: 12px;
    
}

a {
  text-decoration: none;
}

.profile-connection-each-user {
  background: rgb(243, 153, 118);
      padding: 15px;
    border-radius: 15px;
  
  color: black;
  text-align: center;
      display: grid;
    grid-gap: 10px;
}

.profile-connection-each-user:hover {
  background: #57a3f7;
  color: white;
}

.connection-content {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}