.profile-all {
  display: grid;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}


.profile-body {
  padding: 5% 10%;
  display: grid;
  justify-self: center;
  width: 800px;
  grid-template-rows: repeat(4, auto);
  grid-gap: 40px;
  
}

.edit-button {
  justify-self: end;
    align-self: center;
}

.edit-button a {
 text-decoration: none;
  
  justify-content: center;
  padding: 10px 20px;
  width: 30%;
  height: 25px;
  background-color: #17479F;
  border: 1px solid #17479F;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  justify-self: end;
  outline: none;
  margin: 5px 0px 25px;
  align-items: center;
}


.main-content {
  display: grid;
  
  padding: 0 20px;
  
  
}

.profile-info {
  display: grid;
  grid-gap: 25px;
}

.profile-name {
  font-size: 70px;
  align-self: center;
}

.profile-location {
  font-size: 20px;
}

.user-type-1 {
  padding: 10px 20px;
    width: 13%;
    height: 17px;
    background-color: lightcoral;
    border: 1px solid lightcoral;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    justify-self: end;
    outline: none;

}
.user-type-2 {
  padding: 10px 20px;
    width: 13%;
    height: 17px;
    background-color: #ffbd59;
    border: 1px solid #ffbd59;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    justify-self: end;
    outline: none;

}



.Connect {
    padding: 10px 20px;
    /* width: 18%; */
    height: 42px;
    background-color: #17479f;
    border: 1px solid #17479f;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    justify-self: end;
    outline: none;
}

.Pending {
    padding: 10px 20px;
    /* width: 18%; */
    height: 42px;
    background-color: lightseagreen;
    border: 1px solid lightseagreen;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    justify-self: end;
    outline: none;
}

.Connected {
    padding: 10px 20px;
    /* width: 18%; */
    height: 42px;
    background-color: rgb(243, 153, 118);
    border: 1px solid rgb(243, 153, 118);
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    justify-self: end;
    outline: none;
}

.Accept {
    padding: 10px 20px;
    width: 18%;
    height: 60px;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    justify-self: end;
    outline: none;
}

.main-content-right {
  display: grid;

}

.about-div {
  border-radius: 3px;
  border: 2px solid rgb(255, 212, 176);
  /* padding: 25px; */
}

.about-1 {
  display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: cornsilk;
    padding: 22px 20px;
}

.about-inside {
  display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: cornsilk;
    padding: 15px 20px;
}




.skills-div {
  border-radius: 3px;
  border: 2px solid rgb(255, 212, 176);
  /* padding: 25px; */
}



.interests-div {
  border-radius: 3px;
  border: 2px solid rgb(255, 212, 176);
  /* padding: 25px; */
}

.div-content {
  padding: 15px 20px;
}

h2 {
  font-size: 20px;
  align-self: center;
}

.profile-info-1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
}




