.signup-form-container {
  display: grid;
  grid-template-rows: 70px auto;
  grid-gap: 15px; 
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.signup-form-box {
  place-self: center;
  
}

.signup-nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  height: 70px;
  width: 100%;
  align-items: center;
  border: 1px solid gray;
  position: fixed;
  top: 0;  
}

.signup-login a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  margin-right: 10px;
}

.signup-logo {
  margin-left: 10px;
}

.signup-title {
  color: #17479f;
  font-weight: 700;
  font-size: 25px;
  place-self: center;
  padding: 15px 0 8px;
}


.signup-form {

  width: 600px;
    height: 800px;
    border-radius: 12px;
    border: 1px solid #ccc;
    display: grid;
  
}

.signup-form-wapper {
  width: 60%;
    grid-gap: 30px;
    place-self: center;
    display: grid;
    outline: none;
    
}

.signup-form-wapper > input {
  border-bottom: 1px solid #ccc;
    border-radius: 0;
}
.signup-form button {
  
  height: 40px;
  
  border: 1px solid gray;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.user-type-select {
  justify-self: center;
    display: grid;
    grid-gap: 18px;
}

.signup-question {
  color: gray;
    font-weight: 700;
    font-size: 18px;
    justify-self: center;
}
.signup-buttons {
  display: flex;
  flex-direction: row;
  width: 270px;
  height: 50px;
}

.signup-buttons button {
    padding: 10px 20px;
    width: 100%;
    background-color: #ffbd59;
    border: 1px solid #ffbd59;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    justify-self: center;
    height: 40px;
    outline: none;
}

#selected {
  background-color: #17479f;
  border: 1px solid #17479f;
  color: white;
  outline: none;
}

h3 {
  text-align: center;
}

.signup-submit {
    padding: 10px 20px;
    width: 100%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    justify-self: center;
    height: 40px;
    outline: none;
  /* min-width: 163px;
  width: 263px; */
}
.signup-submit:active {
  min-width: 163px;
  background-color: #17479f;
  color: white;
  outline: none;
}

.signup-logo img {
  width: 60px;
  height: 60px;
}

.signup-logo a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.signup-errors {
  position: relative;
  bottom: 1.2em;
  color: red;
  list-style: none;
}

.signup-errors > li {
  margin: 1px;
}

