.chats {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid gray;
}

.chats div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid gray;
  width: 20%;
  margin: 0px 0px 10px 0px;
}