main {
  font-family: 'Open Sans', sans-serif;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  position: relative;
  top: 4em;
  padding-bottom: 10em;
}

.form-container input {
  height: 45px;
  width: 300px;
  padding: 0 10px;
  outline: none;
  font-size: 14px;
  /* border-radius: 3px; */
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  margin-top: 20px;
}

.edit-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 1000px;
  border-radius: 5px;
  background-color: cornsilk;
}

.edit-form div {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin: 15px 0px;
}

.edit-form div h2 {
  align-self: unset;
}

.edit-form button {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  width: 17%;
  height: 42px;
  background-color: #17479F;
  border: 1px solid #17479F;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  justify-self: end;
  outline: none;
  margin: 5px 0px 25px;
}

.usertype {
  align-items: center;
}

.submit-button {
  font-size: 16px;
}

.usertype button {
  padding: 10px 20px;
  width: 100%;
  background-color: #ffbd59;
  border: 1px solid #ffbd59;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  justify-self: center;
  height: 40px;
  outline: none;
  margin: 10px;
}

.usertype button:focus {
  background-color: #17479f;
  border: 1px solid #17479f;
  color: white;
  outline: none;
}

#button-div {
  flex-direction: row;
}
