.profile-body {
  display: grid;
  justify-self: center;
  width: 800px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid gray;
}

.profile-all {
  display: grid;

}



.main-content {
  display: grid;
  width: 100%;
  border: 1px solid gray;
}

.main-content ul {
  width: 50%;
  font-size: 20px;
}

.main-content li {
  margin: 5px;
  padding-left: 20px;
}

.picture-container {
  background-color: #17479F;
}

.picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid gray;
}

.main-content button {
  width: 100px;
  width: 100px;
  height: 25px;
  background-color: #17479F;
  color: white;
  margin: 5px 5px 5px 25px;
}

.about-div {
  width: 100%;
  height: 150px;
  border: 1px solid gray;
}

.about-div h2 {
  font-size: 20px;
  margin: 5px;
  padding-left: 20px;
}

.about-div li {
  font-size: 18x;
  margin: 5px;
  padding-left: 20px;
}

.skills-div {
  width: 100%;
  height: 150px;
  border: 1px solid gray;
}

.skills-div li {
  font-size: 18x;
  margin: 5px;
  padding-left: 20px;
}

.interests-div {
  width: 100%;
  height: 150px;
  border: 1px solid gray;
}

.interests-div li {
  font-size: 18x;
  margin: 5px;
  padding-left: 20px;
}

