.index-nav {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-index {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.left-index a {
  display: flex;
  text-decoration: none;
  color: black;
}

.right-index {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right-index a {
  text-decoration: none;
  color: black;
}

.left-index img {
  height: 60px;
}

.right-index div {
  margin: 10px;
}